
// Анимация загрузки  
@keyframes spin
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(180deg)
    
// Список новостей на главной 
.news-list 
  &-title 
    display: flex
    align-items: flex-end
    justify-content: space-between
    margin-bottom: 30px
    a 
      color: #636363
      font-size: 18px
      line-height: 25px
      font-weight: 500
      &:hover 
        color: $text2

  &-wrap 
    display: flex
    flex-wrap: wrap 
    justify-content: space-between
  &-item 
    display: flex
    flex-direction: column 

    width: calc(25% - 22.5px)

    .img
      width: 100%
      height: 140px
      margin-bottom: 20px
      img
        object-fit: cover
        width: 100% 
        height: 100%
    .title 
      font-weight: 500
      font-size: 18px
      line-height: 25px 
      margin-bottom: 10px
      width: 100%
      display: block

    .date 
      font-size: 18px
      line-height: 25px

// Список всех новостей
.news 
  &-loader 
    display: flex
    justify-content: center 
    margin-top: 30px
    .loader 
      display: flex
      align-items: center 
      justify-content: center  

      animation: spin 1.5s linear infinite
      transform-origin: center 

  &-title 
    display: flex
    align-items: center
    justify-content: space-between
    .tags 
      display: flex
      align-items: center 
      justify-content: flex-end

      .tag 
        display: block
        border-radius: 50px
        margin-left: 15px
        font-size: 16px
        line-height: 22px
        padding: 10px 24px
        background-color: #E8E8E8
        &:first-child
          margin-left: 0
        &.current
          color: #fff
          background-color: $text2
        &:hover 
          color: #fff
          background-color: $text2

  &-wrap 
    display: flex
    justify-content: space-between
    flex-wrap: wrap 

  &-item
    display: flex
    flex-direction: column 
    width: calc(33% - 20px)
    margin-bottom: 40px
    &.bg 
      padding: 24px
      background-color: #F8F8F8
    &.publish 
      justify-content: space-between
      .prov 
        display: flex
        align-items: center
        img 
          width: 40px
          height: 40px
          margin-right: 15px
        span 
          font-size: 14px
          line-height: 20px
    .img 
      display: block 
      width: 100%
      height: 200px
      margin-bottom: 20px 
      img 
        width: 100%
        height: 100%
        object-fit: cover 

    .title 
      font-weight: 500
      margin-bottom: 10px
      display: block
      font-size: 18px
      line-height: 25px

    .date 
      font-size: 18px
      line-height: 25px 
      font-weight: 300
  
@media ( max-width: 960px )
  .news-list
    &-item 
      width: calc(50% - 20px)
      margin-bottom: 40px
      &:nth-last-child(1),
      &:nth-last-child(2),
        margin-bottom: 0
        
      .img 
        height: 160px
  .news 
    padding-top: 60px
    padding-bottom: 60px
    &-item 
      width: calc( 50% - 15px )
      margin-bottom: 30px
@media ( max-width: 768px )
  .news-list
    padding-top: 40px
    padding-bottom: 60px

@media ( max-width: 600px )
  .news-list

    &-item 
      width: 100%
      &:nth-last-child(2)
        margin-bottom: 40px
      .img 
        height: 160px
  .news 
    padding-top: 20px
    padding-bottom: 40px
    &-title 
      align-items: flex-start
      flex-direction: column
      margin-bottom: 30px
      margin-top: 40px
      .tags 
        margin-top: 15px
    &-item 
      width: 100%
      margin-bottom: 30px
@media ( max-width: 425px )
  .news-list
    padding-top: 30px
    &-title 
      a 
        font-size: 16px
        line-height: 22px 

    &-item 
      width: 100%
      .title 
        font-size: 16px
        line-height: 22px
      .date 
        font-size: 16px
        line-height: 22px
      .img 
        height: 140px

  .news 
    &-item 
      .img 
        height: 160px
      .title 
        font-size: 16px
        line-height: 22px

      .date 
        font-size: 16px
        line-height: 22px